#page-container_page-welcome{
	width:100%;
	float:left;
}
#page-welcome_main-card{
	text-align:center;
	width:400px;
	margin-top:40px;
	left:50%;
	margin-left:-200px;
}

#title_welcome{
	text-align: left;
	font-size: 17px;
}

#footer_welcome{
	text-align: right;
}